.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.568);
    z-index: 1000;

}


.chat-pop {

    padding: 5px 0 5px 20px;
    overflow-x: hidden;
    border-top: solid 1px rgba(228, 228, 228, 0.897);
    border-bottom: solid 1px rgba(228, 228, 228, 0.897);

}

.chat-pop .side-btn2 {
    margin-left: 160px;
}