body {
  font-family: "Poppins", Arial, sans-serif;
  background: #151111;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 300;
  color: gray;
  background: url(../images/bg_4.jpg) no-repeat fixed;
  background-size: cover;
}

span {
  color: #bfbfbf;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #c49b63;
}

a:hover,
a:active,
a:focus {
  color: #c49b63;
  outline: none !important;
  text-decoration: none !important;
}

h1,
h2,
h3 {
  line-height: 1.4;
  color: #006a4d;
  font-weight: 400;
  font-family: "Josefin Sans", Arial, sans-serif;
}

.owl-carousel {
  position: relative;
}

.owl-carousel.home-slider {
  position: relative;
  height: 750px;
  z-index: 0;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 750px;
  position: relative;
  z-index: 0;
}

@media (max-width: 1199.98px) {
  .owl-carousel.home-slider .slider-item {
    background-position: center center !important;
  }
}

.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .3;
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: 750px;
  text-align: right;
}

@media (max-width: 767.98px) {
  .owl-carousel.home-slider .slider-item .slider-text {
    text-align: center;
    height:600px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
  font-family: "Great Vibes", cursive;
  font-size: 70px;
  color: rgb(180 40 0);
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.5;
  font-weight: normal;
  font-family: "Poppins";
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 30px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.btn {
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 13px;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}

.btn.btn-primary {
  background: #006a4d;
  color: #fff;
}

.btn.btn-primary:hover {
  background :#00ba44;
}

.btn.btn-primary:active {
  background: #00da44 !important;
  color: #fff !important;
}

.btn.btn-primary.btn-outline-primary {
  border: 1px solid #c49b63;
  background: transparent;
  color: #c49b63;
}

.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #c49b63;
  color: #fff;
}

.btn-secondary {
  background: rgb(221, 209, 195,0.7) !important;
  color: #504831; 
  border: none;
}

.btn-secondary:hover {
  border: 2px rgb(180 40 0) solid;
  color: rgb(180 40 0);
}

.btn-secondary:active {
  border: 2px rgb(180 40 0) solid;
  color: white;
}

.ftco-about .one-half {
  width: 100%;
  padding: 15px;
}

@media (min-width: 768px) {
  .ftco-about .one-half {
    padding: 8% 5% 8% 5%;
    width: 50%;
    height:687px;
  }
  .ftco-about{
    margin-left:4%;
  }
}

.ftco-about .one-half.img {
  display: block;
}

@media (max-width: 767.98px) {
  .ftco-about .one-half.img {
    height: 380px;
  }
}

@media (min-width: 768px) {
  .ftco-about .one-half .overlap {
    padding: 40px;
    background: rgba(221, 209, 195, 0.5);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius:10px;
  }
}

.ftco-services {
  color: #1d150b;
  background: rgb(221 209 195);
}

.services .icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  border: 2px solid #674c27;
  border-radius:10px;
}

.services .icon span {
  font-size: 60px;
  color: #1d150b;
  z-index: 1;
}

.services h3 {
  font-size: 18px;
  margin-bottom: 20px;
  color: black;
  text-transform: uppercase;
}

.services .media-body {
  color: #1d150b;
}

.ftco-gallery {
  padding: 0;
}

.gallery {
  display: block;
  height: 300px;
  position: relative;
}

.gallery .icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  z-index: 0;
  opacity: 0;
  position: relative;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.gallery .icon:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  content: '';
  background: #c49b63;
  z-index: -1;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.gallery .icon span {
  color: #fff;
}

.gallery:hover .icon,
.gallery:focus .icon {
  opacity: 1;
}

.gallery:hover .icon:after,
.gallery:focus .icon:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.menu-entry {
  margin-bottom: 30px;
}

.menu-entry .img {
  display: block;
  height: 200px;
}

.menu-entry .text h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.menu-entry .text h3 a {
  color: #fff;
}

.menu-entry .text .price span {
  color: #fff;
  font-size: 18px;
}

.ftco-menu {
  padding-top: 7em;
}

.menu-wrap {
  margin-bottom: 60px;
}

.menu-wrap .menu-img {
  display: block;
  height: 270px;
}

.menu-wrap .text h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.menu-wrap .text h3 a {
  color: #fff;
}

.menu-wrap .text .price {
  font-size: 18px;
  font-weight: 400;
}

.menu-wrap .text .price span {
  color: #fff;
}

#ftco-testimony {
  padding-bottom: 0;
  position: relative;
  z-index: 0;
}

@media (max-width: 1199.98px) {
  #ftco-testimony.img {
    background-position: center center !important;
  }
}

#ftco-testimony>.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
}

.testimony {
  background: rgb(221, 209, 195);
  padding: 2em;
  color: #504831;
}



.testimony.overlay {
  position: relative;
  z-index: 0;
}

.testimony.overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #000;
  opacity: .1;
  z-index: -1;
}

.testimony .author .image {
  width: 40px;
}

.testimony .author .image img {
  border-radius: 50%;
  max-width: 100%;
}

.testimony .author .name {
  font-weight: 500;
}

.testimony .author .position {
  display: block;
  font-size: 12px;
  color: inherit;
}

.ftco-animate {
  opacity: 0;
  visibility: hidden;
}

.ftco-section {
  padding: 7em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

.heading-section {
  z-index: 0;
}

.heading-section .subheading {
  font-size: 50px;
  display: block;
  font-family: "Great Vibes", cursive;
  color: #c49b63;
  line-height: 1;
  margin-bottom: -15px;
  z-index: 1;
}

.heading-section h2 {
  z-index: -1;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  margin-top: 10px;
}

@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px;
  }
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#section-counter {
  position: relative;
  z-index: 0;
}

#section-counter .overlay {
  position: absolute;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(221, 209, 195) ;
  
}

.ftco-menu {
  position: relative;
  width: 100%;
  display: block;
}

.ftco-menu .nav-pills .nav-link {
  border-radius: 0;
  margin-bottom: 0;
  color: #c49b63;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #c49b63;
  margin-left: 5px;
  margin-right: 5px;
}

.ftco-menu .nav-pills .nav-link.active,
.ftco-menu .nav-pills .nav-link:hover {
  color: black;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #c49b63;
  border-bottom: 1px solid transparent;
}

.ftco-menu .nav-pills .nav-link.active:after,
.ftco-menu .nav-pills .nav-link:hover:after {
  opacity: 1;
}

@media (max-width: 767.98px) {

  .ftco-menu .nav-pills .nav-link.active:after,
  .ftco-menu .nav-pills .nav-link:hover:after {
    opacity: 0;
  }
}

@media (max-width: 767.98px) {
  .ftco-menu .nav-pills .nav-link {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}

.block-6 {
  margin-bottom: 40px;
}
