section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.image {
    height: 100%;
    width: 50%;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgb(235, 220, 206, 0.0);
}

.image img {
    width: 100%;
    object-fit: cover;
}

#login-section .image img {
    max-height:100vh;
}

#login-section .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

#signup-section .form-group {
    margin-bottom:10px;
}

#signup-section .image {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#signup-section .image img {
    height:100vh;
}

#signup-section .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#signup-section form {
    margin-top: 60px;
}

.login form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: inherit;

    border-radius: 10px;
    padding: 20px;

    margin-top: 50px;

}

.login .form-title {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #045420;
    font-weight: 400;
}

#signup-section .login .form-title {
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 2rem;
    color: #045420;
    font-weight: 400;
}

.login form .form-group {
    width: 70%;
}

.login form .form-group label {
    color: rgba(4, 84, 32, 1);
    font-weight: 400;
}

.login form .form-group .form-control {
    background: rgba(255,255,255,0.0);
}

.login form .form-group ::placeholder {
    color: #504831;
    font-weight: 100;
    font-size: 0.8rem;
}

.login form .form-group .form-control:focus {
    box-shadow: 0 0 0 0.1rem #504831;
}

.login form .form-group .form-control {
    border: none;
    border-bottom: 1px solid #504831;
}

.form-group:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
}

.form-group:last-of-type a {
    color: #504831;
    font-weight: 100;
    font-size: 1rem;
    text-decoration: none;
}

.form-group:last-of-type a:hover, .form-group:last-of-type a:focus {
    color: #045420;
    font-weight: 400;
}

.form-group:last-of-type p {
    color: #045420;
}


.login form input[type="text"], .login form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login form #submit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.login form #submit:focus, .login form #submit:hover {
    box-shadow: 0 0 1px 1px #045420;
}

.login form #submit:active {
    background : rgba(4, 120, 32, 1);
    box-shadow: 0 0 0 0;
}

.login .button {
    background: #045420;
    color:white;
}

.login .button:hover, .button:focus {
    background: #045420;
    color: #fff;
}

.form-message-div {
    color: red;
}

@media (min-width:992px) {
    nav {
        background: rgb(221, 209, 195,1) !important;
    }
}

@media (max-width: 992px) {
    .image {
        display: none;
    }

    .login {
        width: 100%;
        padding: 40px;
    }

    .login form {
        min-width: 300px;
        width: 50%;
        background: rgb(235, 220, 206, 0.9);
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    #signup-section form {
        width:70%;
    }

    .login form .form-group input {
        background: rgba(255,255,255,0.5);
    }

    .login form ::placeholder {
        font-size: 0.8rem;
        color: rgba(80, 72, 49, 1);
    }

    .login form .form-group {
        width: 100%;
    }

    .login {
        position: relative;
        overflow: hidden;
        background: rgba(0,0,0,0.4);
    }

    .login::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../images/reg.jpg") no-repeat center center fixed;
        background-size: cover;
        filter: blur(5px);
        z-index: -1;
    }

    #signup-section .login form {
        margin-top: 45px;
    }
}