.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
}

.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.text-center {
    text-align: center !important;
}

@media print {

    *,
    *::before,
    *::after {
        text-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    a:not(.btn) {
        text-decoration: underline;
    }

    p,
    h2 {
        orphans: 3;
        widows: 3;
    }

    h2 {
        page-break-after: avoid;
    }

    @page {
        size: a3;
    }

    body {
        min-width: 992px !important;
    }

    .container {
        min-width: 992px !important;
    }
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background: #151111;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: url(../images/bg_4.jpg) no-repeat fixed;
    background-size: cover;
}

span {
    color: #bfbfbf;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #c49b63;
}

a:hover,
a:active,
a:focus {
    color: #c49b63;
    outline: none !important;
    text-decoration: none !important;
}

h2,
h4 {
    line-height: 1.4;
    color: #006a4d;
    font-weight: 400;
    font-family: "Josefin Sans", Arial, sans-serif;
}

.ftco-menu {
    padding-top: 7em;
}

.ftco-animate {
    opacity: 0;
    visibility: hidden;
}

.heading-section {
    z-index: 0;
}

.heading-section .subheading {
    font-size: 50px;
    display: block;
    font-family: "Great Vibes", cursive;
    color: #c49b63;
    line-height: 1;
    margin-bottom: -15px;
    z-index: 1;
}

.heading-section h2 {
    z-index: -1;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    margin-top: 10px;
}

@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 28px;
    }
}

.ftco-menu {
    position: relative;
    width: 100%;
    display: block;
}