body {
    font-family: "Poppins", Arial, sans-serif;
    background: #151111;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: no-repeat fixed;
    background-size: cover;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.salad-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80vw;
}

.salad-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
}

.ingredients-div {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.title {
    font-size: 2rem;
    color: #045420;
    /*color: #c49b63;*/
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom:10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

}

.category-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0px;
    width: 100%;
    cursor: pointer;
}

.category-heading:not(last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.category {
    color: #045420;
    font-weight: 300;
    font-size: 1.5rem;
}

.info {
    color: rgba(196,155,99,1);
    font-weight: 500;
    font-size: 1.2rem;
}

.choose-salad {
    width: 70%;
}

.calculations {
    width: 30%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
}

.category-pricing, .total {
    color: rgba(196,155,99,1);
    font-weight: 500;
}

.category-pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 10px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.category, .category-name, .info {
    font-family: "Josefin Sans", Arial, sans-serif;
}

.category-name {
    font-size: 1.2rem;
    color: #045420;
    font-weight: 500;
}

.chosen-item {
    font-weight:200;
    font-size: 1.2rem;
}

.chosen-item li {
    font-size:1rem;
}

.category-price {
    font-size:1rem;
}

.ingredient-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    row-gap: 10px;
    column-gap:10px;
    width: 100%;
    padding-right:10px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
}

.option:first-of-type {
    margin-top:20px;
}

.option {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    column-gap: 20px;
    width:40%;
}

.option {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.option img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.option-name {
    text-align:center;
    min-width:35%;
}

.total {
    margin-left:auto;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
    content: "\f067";
}

.icon-minus:before {
    content: "\f068";
}

/*custom css for icon-plus*/
.icon {
    font-size: 1rem;
    color: #045420;
    cursor: pointer;
}

.icon:focus, .icon:active {
    transform: scale(1.2);
    background: none;
    border:none;
}

.pricing-summary {
    display:flex;
    flex-direction:column;
    row-gap:10px;
    width:100%;
}

.error-msg {
    color: red;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 10px;
}

@media (max-width:992px ) {
    .ingredient-options {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .icon {
        font-size: 0.8rem;
        margin-left: 10px;
    }

    .salad-container {
        width:95vw;
    }

    section {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .salad-container > div {
        width: 100%;
    }

    .option {
        width:100%;
    }

    .title {
        font-size: 1.5rem;
    }

    .category, .category-name {
        font-size: 1.2rem;
    }

    .info {
        font-size: 1rem;
    }
}

@media (max-width:768px) {
    .salad-container {
        flex-direction: column;
        row-gap:30px;
        align-items: center;
    }
    .salad-container > div {
        width:90% !important;
    }
}

.cartOrTotal {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.addToCart {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background: #045420;
    color: white;
}