footer {
    background-color: #504831;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem 7rem;
}

.footer-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    padding: 0px 3rem;
}

.footer-div-content {
    color: rgba(255, 255, 255, 0.7);
    display:flex;
    flex-direction:column;
    row-gap:30px;
}

.footer-social .icon {
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
    border-radius:50%;
    padding: 1.5rem;
    transition: all 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.05);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
    color: #fff;
    font-size: 1.1rem;
    font-weight:400;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-div ul {
    list-style: none;
    padding: 0;
    display:flex;
    flex-direction:row;
    column-gap:20px;
}

.footer-div ul li a{
    color: rgba(255, 255, 255, 0.7);
}

.footer-div .footer-navigation {
    list-style: none;
    padding: 0;
    display:flex;
    flex-direction:column;
    row-gap:20px;
}

.footer-navigation li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap:20px;
}

.footer-navigation .icon {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;

    width:28px;
    height:28px;
}

footer a:hover {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

@media (max-width:1096px) {
    footer {
        flex-wrap:wrap;
        row-gap:20px;
        justify-content:space-between;
    }

    .footer-div {
        width: 50%;
    }
}

@media (max-width:768px) {
    footer {
        padding: 4rem 0rem;
    }
    .footer-div {
        width: 100%;
    }
    .footer-question .icon {
        padding-bottom:2px;
    }
}

/* Icons */
@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon/icomoon.eot?6tt51o');
    src: url('../../fonts/icomoon/icomoon.eot?6tt51o#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?6tt51o') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?6tt51o') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?6tt51o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-map-marker:before {
    content: "\f041";
}

.icon-phone:before {
    content: "\f095";
}

.icon-twitter:before {
    content: "\f099";
}

.icon-facebook:before {
    content: "\f09a";
}

.icon-envelope:before {
    content: "\f0e0";
}

.icon-instagram:before {
    content: "\f16d";
}