body {
    font-family: "Poppins", Arial, sans-serif;
    background: #151111;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: no-repeat fixed;
    background-size: cover;
}

a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #c49b63;
}

a:hover,
a:active,
a:focus {
    color: #c49b63;
    outline: none !important;
    text-decoration: none !important;
}

.ftco-navbar-light {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 991.98px) {
    .ftco-navbar-light {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        height: 50px;
    }

    .navbar-collapse {
        background-color: #ddd1c3;
        padding: 15px;
        border-radius: 10px;

        ul {
            color: #504831 !important;
        }
    }
}

.ftco-navbar-light .navbar-brand {
    color: #504831;
    font-family: "Josefin Sans", Arial, sans-serif;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 13px;
    padding: 0.9rem 20px;
    color: #504831;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1 !important;
    font-weight: 500;
}


.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover,
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:focus {
    color: #fff;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover:after,
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:focus:after {
    opacity: 1;
}

.ftco-navbar-light .navbar-nav > .nav-item.cart > a {
    position: relative;
}

.ftco-navbar-light .navbar-nav > .nav-item.cart > a .icon {
    font-size: 20px;
    color: #504831;
}

.ftco-navbar-light .navbar-nav > .nav-item.cart > a .bag {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    background: #b42800;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.ftco-navbar-light .navbar-nav > .nav-item.cart > a .bag small {
    font-weight: 400;
    color: #fff;
}

#cart .nav-link {
    padding-left: 0px;
}

.ftco-navbar-light .navbar-nav > .nav-item.cart > a .icon {
    transition: color 0.3s ease;
}

.ftco-navbar-light .navbar-nav > .nav-item.cart:hover .icon {
    color: #fff;
}

.ftco-navbar-light .navbar-nav > .nav-item.cart.active .icon {
    color: #b42800;
}


@media (max-width: 992px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cart > a .bag {
        position: absolute;
        left: 32px;
        top: 4px;
    }

    #cart .nav-link {
        padding-left: 20px;
    }
}

@media (max-width: 767.98px) {
    .ftco-navbar-light .navbar-nav > .nav-item.cart > a .bag {
        position: absolute;
        left: 13px;
        top: 4px;
    }
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #b42800;
    font-weight: 500;
}

.ftco-navbar-light .navbar-nav > .nav-item.active > a:after {
    opacity: 1;
    background: #c49b63;
}

.ftco-navbar-light .navbar-toggler {
    border: none;
    color: #504831 !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.ftco-navbar-light .navbar-toggler:hover,
.ftco-navbar-light .navbar-toggler:focus {
    outline: none !important;
}

.ftco-navbar-light .navbar-brand:hover {
    color: #fff !important;
}

.navbar-brand {
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.navbar-brand small {
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    text-align: center;
    letter-spacing: 5px;
}

@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon/icomoon.eot?6tt51o');
    src: url('../../fonts/icomoon/icomoon.eot?6tt51o#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?6tt51o') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?6tt51o') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?6tt51o#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shopping_cart:before {
    content: "\e8cc";
}

@font-face {
    font-family: Icons;
    src: url(../../fonts/open-iconic/open-iconic.eot);
    src: url(../../fonts/open-iconic/open-iconic.eot?#iconic-sm) format('embedded-opentype'), url(../../fonts/open-iconic/open-iconic.woff) format('woff'), url(../../fonts/open-iconic/open-iconic.ttf) format('truetype'), url(../../fonts/open-iconic/open-iconic.otf) format('opentype'), url(../../fonts/open-iconic/open-iconic.svg#iconic-sm) format('svg');
    font-weight: 400;
    font-style: normal
}

.oi {
    position: relative;
    top: 1px;
    display: inline-block;
    speak: none;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.oi:empty:before {
    width: 1em;
    text-align: center;
    box-sizing: content-box
}

.oi-menu:before {
    content: '\e09b'
}

#ftco-nav {
    transition: max-height 0.5s ease;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ftco-animate {
    opacity: 0;
    visibility: hidden;
}

/* Loader */
#ftco-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
    -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
    transition: opacity .2s ease-out, visibility 0s linear .2s;
    z-index: 1000;
}

#ftco-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#ftco-loader.show {
    -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
    transition: opacity .4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#ftco-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#ftco-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}


@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

#ftco-nav {
    max-height: 0px;
    overflow: hidden;
    padding: 0px;
}

.nav-transition {
    transition: max-height 0.8s ease;
}
