body {
    font-family: "Poppins", Arial, sans-serif;
    background: #151111;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 300;
    color: gray;
    background: url(../images/bg_4.jpg) no-repeat fixed;
    background-size: cover;
}

span {
    color: #bfbfbf;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #c49b63;
}

a:hover,
a:active,
a:focus {
    color: #c49b63;
    outline: none !important;
    text-decoration: none !important;
}

h1,
h3 {
    line-height: 1.4;
    color: #006a4d;
    font-weight: 400;
    font-family: "Josefin Sans", Arial, sans-serif;
}

.owl-carousel {
    position: relative;
}

.owl-carousel.home-slider {
    position: relative;
    height: 750px;
    z-index: 0;
}

.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 750px;
    position: relative;
    z-index: 0;
}

@media (max-width: 1199.98px) {
    .owl-carousel.home-slider .slider-item {
        background-position: center center !important;
    }
}

.owl-carousel.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .3;
}

.owl-carousel.home-slider .slider-item .slider-text {
    color: #fff;
    height: 750px;
    text-align: right;
}

@media (max-width: 767.98px) {
    .owl-carousel.home-slider .slider-item .slider-text {
        text-align: center;
        height: 600px;
    }
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
    color: #fff;
    line-height: 1.5;
    font-weight: normal;
    font-family: "Poppins";
}

@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
        font-size: 30px;
    }
}

.owl-carousel.home-slider .slider-item .slider-text p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: white;
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
    color: #fff;
}

.ftco-services {
    color: #1d150b;
    background: rgb(221 209 195);
}

.services .icon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    border: 2px solid #674c27;
    border-radius: 10px;
}

.services .icon span {
    font-size: 60px;
    color: #1d150b;
    z-index: 1;
}

.services h3 {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
}

.services .media-body {
    color: #1d150b;
}

.ftco-animate {
    opacity: 0;
    visibility: hidden;
}

.ftco-section {
    padding: 7em 0;
    position: relative;
}

@media (max-width: 767.98px) {
    .ftco-section {
        padding: 6em 0;
    }
}

.block-6 {
    margin-bottom: 40px;
}

/*
  Flaticon icon font: Flaticon
  Creation date: 27/09/2018 06:27
  */

@font-face {
    font-family: "Flaticon";
    src: url("../../fonts/flaticon/font/Flaticon.eot");
    src: url("../../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/flaticon/font/Flaticon.woff") format("woff"),
    url("../../fonts/flaticon/font/Flaticon.ttf") format("truetype"),
    url("../../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
    }
}

[class^="flaticon-"]:before,
[class^="flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-choices:before {
    content: "\f101";
}

.flaticon-coffee-bean:before {
    content: "\f102";
}

.flaticon-delivery-truck:before {
    content: "\f103";
}